StarGen/dist-newstyle
StarGen/*.json

StarMon/.cache
StarMon/CMakeFiles
StarMon/StarMon
StarMon/StarMon_autogen
StarMon/Makefile
StarMon/CMakeCache.txt
StarMon/cmake_install.cmake
StarMon/compile_commands.json

StarMon3d/.cache
StarMon3d/CMakeFiles
StarMon3d/StarMon3d
StarMon3d/StarMon3d_autogen
StarMon3d/Makefile
StarMon3d/CMakeCache.txt
StarMon3d/cmake_install.cmake
StarMon3d/compile_commands.json
